body{
    margin: 0; padding: 0;
}
.sample{
    float: left; 
    width: 25%;
    /*width: 64px;
    height: 64px;*/
}

.sample img{
    display: block; 
    height: 100%; 
    width: 100%;
}

.grid{
    background: url("../svg/examples/grid-line.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dot{
    background: url("../svg/examples/grid-dot.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}